*{  /*reset para los bordes*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color:#ffffff;
    background:linear-gradient(to bottom, #6B46C1, #6c2dff);
    line-height: 1.5;
}

h1{/*Título*/
    text-align: center;
    width: auto;
    height: 200px;
    line-height: 1.9;
    font-family:"Poppins", sans-serif;
    font-size: 105px
}

h2{/*titulo contenedores*/
    text-align:center;
    width:auto;
    height:60px;
    line-height: 1;
    font-family:"Inter", sans-serif;
    font-size:50px;
}

.parrafo_inicial{/*texto inicial*/
    text-align: justify;
    width: 1600px;
    height:180px;
    font-size:30px;
    font-family:'Open Sans', sans-serif;
    margin: 0 auto;
}

.contenedores{/*creacion del cuadro para dividir cada tipo de violencia*/
    width:90%;
    margin: 50px auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:35px
}

.contenedores h3{/*titulos contenedores*/
    text-align:center;
    height:80px;
    width:200px;
    font-family:'Roboto Condensed', sans-serif;
    font-size: 40px;
    margin-left:40px;
}

.contenedores img{/*imagenes contenedores*/
    margin-left:300px;
    margin-top:-200px;
}

.contenedores p{/*párrafos contenedores*/
    font-family:'Open Sans', sans-serif;
    font-size:20px;
    text-align: justify;
}

/*div para cada contenedor*/

.vfisica{
    background-color:#b464e9;
    padding:20px;
    border-radius:10px;
    text-align: left
}

.vpsicológica{
    background-color:#b464e9;
    padding:20px;
    border-radius:10px;
    text-align: left
}

.vsexual{
    background-color:#b464e9;
    padding:20px;
    border-radius:10px;
    text-align: left
}

.veconomica{
    background-color:#b464e9;
    padding:20px;
    border-radius:10px;
    text-align: left
}

.vdigital{
    background-color:#b464e9;
    padding:20px;
    border-radius:10px;
    text-align: left
}

.vsimbolica{
    background-color:#b464e9;
    padding:20px;
    border-radius:10px;
    text-align: left
}

.contenedores img{/*imágenes*/
    width: 110px;
    height: 110px;
    object-fit: cover;
    margin-bottom: 10px;
}


.cuadro_cifras {/*cuadro de cifras*/
    background: rgb(11, 11, 48);
    width: 70%;
    margin: 20px auto;
    padding: 25px;
    border-radius: 15px;
    line-height: 1.7;
}

.cifras p {/*textos de cifras*/
    margin: 15px 0;
    font-size: 30px;
    text-align: center;
}

.enlaces1 {
    background: rgb(11,11,48);
    width: 70%;
    margin: 20px auto;
    padding: 25px;
    border-radius: 15px;
    line-height: 2.5;
    font-family:'Open Sans', sans-serif
}

/* estilo de los enlaces */
.enlaces1 a {
    text-align: center;
    display: block;
    color: #ffffff;
    font-family:'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 30px;
}


