*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to bottom, #6B46C1, #6c2dff);
    color: #ffffff;
}

/* TÍTULOS */
h1{
    text-align: center;
    margin-top: 40px;
    font-size: 78px;
    font-weight: 700;
}

.subtitulo{
    text-align: center;
    margin-top: 10px;
    font-size: 34px;
    font-weight: 400;
}

.descripcion{
    width: 75%;
    margin: 25px auto;
    text-align: center;
    font-size: 22px;
    line-height: 1.7;
}

/* FORMULARIO */
.formulario_container{
    background-color: rgba(20, 10, 60, 0.55);
    width: 80%;
    max-width: 1200px;
    margin: 50px auto;
    padding: 35px;
    border-radius: 15px;
}

.formulario_container h3{
    text-align: center;
    font-size: 40px;
    margin-bottom: 25px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

input, textarea{
    padding: 15px;
    border-radius: 15px;
    border: none;
    outline: none;
    font-size: 18px;
}

textarea{
    height: 130px;
    resize: none;
}

button{
    width: 35%;
    margin: 0 auto;
    padding: 14px;
    border: none;
    background: #53c3ff;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    border-radius: 15px;
    cursor: pointer;
}

/* REDES */
.redes_section h2{
    text-align: center;
    font-size: 50px;
    margin-top: 60px;
}

.texto_redes{
    width: 75%;
    margin: 10px auto;
    text-align: center;
    font-size: 22px;
}

.redes_burbuja{
    width: 70%;
    margin: 35px auto;
    padding: 35px;
    background: #d6c5ff;
    color: #000;
    border-radius: 120px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 24px;
}

/* INFORMACIÓN */
.info_section h2{
    text-align: center;
    font-size: 50px;
    margin-top: 60px;
}

.info_content{
    width: 65%;
    margin: 25px auto 70px auto;
    background: rgba(20, 10, 60, 0.55);
    padding: 30px;
    border-radius: 20px;
    font-size: 24px;
    line-height: 2;
}