*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to bottom, #6B46C1, #6c2dff);
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
    color: #ffffff; /* color base general */
}

/* TITULOS */
h1{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 95px;
    margin-top: 40px;
    color: #FFE9FF; /* rosa-lavanda suave */
}

h2{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 55px;
    margin: 60px 0 25px 0;
    color: #FFDFAF; /* amarillo pastel */
}

h3{
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    color: #F9C6FF; /* rosa suave */
}

/* INTRODUCCIÓN */
.intro{
    width: 1500px;
    margin: 0 auto;
    text-align: center;
    font-size: 32px;
    color: #E9E6FF; /* tono claro púrpura */
}

/* TARJETAS DE TELÉFONO */
.telefonos{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    gap: 30px;
}

.card_tel{
    background: rgba(255,255,255,0.15);
    border-radius: 15px;
    padding: 25px;
    width: 32%;
    text-align: center;
    font-size: 22px;
    color: #FFF7FE; /* blanco rosado */
}

.card_tel h3{
    color: #FFF0B3; /* amarillo suave */
    font-size: 45px;
}

/* PUNTOS VIOLETA */
.pvioleta_texto{
    width: 1500px;
    margin: 0 auto;
    text-align: center;
    font-size: 28px;
    color: #EBD7FF; /* lavanda pastel */
}

.buscador{
    text-align: center;
    margin-top: 20px;
}

.buscador input{
    width: 600px;
    padding: 18px;
    border-radius: 20px;
    border: none;
    font-size: 22px;
    color: #4A276B;   /* morado profundo */
    background: #F7ECFF; /* fondo lavanda claro */
}

/* IMAGEN MAPA */
.mapa img{
    display:block;
    margin: 40px auto;
    width: 950px;
    border-radius: 20px;
}

/* HUELLA DIGITAL */
.huella img{
    display:block;
    margin: 0 auto;
    width: 300px;
}

/* SEGURIDAD DIGITAL */
.seguridad{
    width:80%;
    margin: 50px auto;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.item_seg{
    background: rgba(0,0,0,0.25);
    padding: 25px;
    border-radius: 15px;
    font-size: 22px;
    color: #FFEFFF; /* rosa muy claro */
}

.item_seg h3{
    color: #FFEDB0; /* amarillo pastel */
}

/* APOYO A VÍCTIMAS */
.apoyo{
    width:80%;
    margin: 40px auto 100px auto;
    display:flex;
    justify-content: space-between;
    gap: 30px;
}

.item_apoyo{
    background: rgba(0,0,0,0.25);
    width: 33%;
    padding: 25px;
    border-radius: 15px;
    font-size: 22px;
    color: #FFF3FF; /* crema-rosado */
}

.item_apoyo h3{
    color: #FFD6FF; /* rosa pastel */
}