*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: #ffffff;
    background: linear-gradient(to bottom, #6B46C1, #9c7bd4);
    font-family: "Poppins", sans-serif;
    padding-bottom: 100px;
}

h1{
    text-align: center;
    font-size: 95px;
    line-height: 1.1;
    margin-top: 60px;
}

.subtitulo{
    text-align: center;
    font-size: 38px;
    margin-top: 25px;
    font-family: "Inter", sans-serif;
}

.bloque_texto{
    width: 75%;
    margin: 70px auto;
    background: rgba(255,255,255,0.07);
    padding: 40px;
    border-radius: 20px;
}

.bloque_texto h2{
    font-size: 55px;
    margin-bottom: 25px;
}

.bloque_texto p{
    font-size: 28px;
    line-height: 1.7;
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    text-align: justify;
}

.titulo_mapa{
    text-align: center;
    font-size: 55px;
    margin-top: 50px;
}

.buscador{
    width: 50%;
    margin: 40px auto;
    position: relative;
}

.buscador input{
    width: 100%;
    height: 55px;
    border-radius: 30px;
    border: none;
    padding-left: 30px;
    font-size: 22px;
    font-family: "Open Sans", sans-serif;
}

.icono{
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 30px;
}

/* MAPA REAL */
.mapa_real{
    width: 70%;
    height: 450px;
    margin: 30px auto;
    background-image: url("/mnt/data/4b1e04bd-deb0-4cb7-a4ba-9be771aa3c58.png");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    border: 4px solid rgba(255,255,255,0.3);
}

.ver_todos{
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}

.ver_todos a{
    color: #ffffff;
    text-decoration: none;
}

.voluntariado{
    width: 75%;
    margin: 80px auto;
    background: rgba(255,255,255,0.07);
    padding: 40px;
    border-radius: 20px;
}

.voluntariado h2{
    font-size: 55px;
    margin-bottom: 20px;
}

.voluntariado p{
    font-size: 28px;
    font-family: "Open Sans", sans-serif;
    line-height: 1.8;
    text-align: justify;
}

.botones{
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
}

.botones a{
    color: #ffffff;
    text-decoration: none;
}

.frase_final{
    text-align: center;
    font-size: 45px;
    margin-top: 80px;
}
.mapa_real {
    width: 70%;
    height: 450px;
    margin: 30px auto;
    border-radius: 20px;
    border: 4px solid rgba(255,255,255,0.3);
    overflow: hidden; /* Importante */
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapa_real img {
    width: 100%;
    height: 100%;
    object-fit: cover;   /* Cubre toda el área del rectángulo */
    object-position: center; /* Centrado perfecto */
}